<app-navbar></app-navbar>
  <div class="wrapper">
    <div class="grid-row" style="margin: 30px; background-color: #ffffff">
      <div class="row1 text-md-left" style="padding: 20px 10px 10px 30px;">
        <h5>Recently Viewed</h5>
      </div>
      <div class="row2">
        <div class="card" style="width: 16rem;" *ngFor="let r of recent">
          <div class="card-body">
            <h5 class="card-title">{{r.title}}</h5>
            <p class="card-text">{{r.description}}</p>
            <button routerLink="/dashboard" class="btn btn-danger">Go somewhere</button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row" style="margin: 30px; background-color: #ffffff">
      <div class="row1 text-md-left" style="padding: 20px 10px 10px 30px;">
        <h5>Most Viewed</h5>
      </div>
      <div class="row2">
        <div class="card" style="width: 16rem;" *ngFor="let r of recent">
          <div class="card-body">
            <h5 class="card-title">{{r.title}}</h5>
            <p class="card-text">{{r.description}}</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row2">
      <div class="row1 text-md-center" style="padding: 20px 10px 10px 30px;">
        <h5>Shop By Category</h5>
      </div>
      <div class="row-cat">
        <div class="card" style="width: 18rem;" *ngFor="let cat of categories">
          <div class="card-body">
            <h5 class="card-title">{{cat.category}}</h5>
          </div>
        </div>
      </div>

    </div>
  </div>


<footer class="foot">&copy; JAMMR 2020</footer>
